.collapseContainer {
    position: relative;
    display: block;
    width: 290px;
}

.collapse {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 22px;
    box-shadow: 2px 2px 5px rgb(159, 144, 144) inset;
    background-color:#F8F5F5;
    border: 1px solid rgb(65, 61, 61);
    border-radius: 4px;
    padding-top: 0;
    padding-bottom: 0;  
    font-size: 15px;
    margin-bottom: 0;
}

.collapse p {
    padding-left: 10px;
    font-size: 16px;
    font-weight: 500;
}

.collapse i {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 18px;
    font-weight: 700;
    width: 30px;
    height: 19px;
    margin: 0;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    background-color: rgb(222, 215, 215);
    box-shadow: 2px 2px 5px rgb(159, 144, 144) inset;
    cursor: pointer;
    background-color: rgb(195, 195, 221);
}

.collapseContent {
    position: absolute;
    z-index: 8;
    top: 60px;
    width: 290px;
    height:auto;
    margin-top: -40px;
   
    background-color: rgb(222, 215, 215);
    border: 1.3px solid rgb(77, 76, 76);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px; 
}

.disappearanceContent {
    margin-top: 0;
}

.collapseContent .position {
    margin: 5px 0 5px 0 ; 
    font-size: 15px;
    cursor: pointer;
    text-align: left;
}

@media screen and (max-width:800px) {
    .collapse {
        width: 240px;
    }

    .collapseContent {
        width: 240px
    }
}
