footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 75px;
    box-sizing: border-box;
    padding: 0 30px;
    background-color: #AC1717;
    color: #ffffff;
}

.navContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    font-size: 16px;
    cursor: pointer;    
}

.footerLink {
    display: flex;
    color: #ffffff;
    text-decoration: none;
    font-family:'Inter'; 
    font-weight:bolder;
}

.copyright {
    font-size: 12px;
    padding-top: 18px;
}

i {
    padding-top: 1.5px;
}

@media screen and (max-width:1024px) {
    footer {
        padding: 0 20px;
    }

    .navFooter {
        width: 450px;
    }    
}

@media screen and (max-width:900px)  {
    footer {
        padding: 0 10px;
    }

    .navFooter {
        width: 400px;
        font-size: 14px;
    } 

    .copyright {
        font-size: 10px;   
    }
}

@media screen and (max-width:650px)  {
    footer {
        padding: 0 5px;
    }

    .navFooter {
        width: 350px;
        font-size: 12px;
    } 

    .copyright {
        font-size: 8px;
        padding-top: 15px;
        padding-right: 4px;   
    }
}

@media screen and (max-width:550px) {
    footer {
        height: 68px;
        padding: 0 10px;
    }

    .navFooter {
        width: 280px;     
        font-size: 10px;
    } 

    .copyright {
        font-size: 5px;
        padding-right: 4px;
    }
}

@media screen and (max-width:410px) {
    .navFooter {
        width: 200px; 
        padding-left: 5px;     
    } 

    .copyright {
        font-size: 5px;
    }
}

@media screen and (max-width: 375px) and (min-width: 320px){
    .navFooter {
        width: 180px;
        padding-left: 2px;    
    } 
}