header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    margin: 0;
    padding-left: 20px;
    width: 100%;
    min-height: 90px;
    background-color: #000000;
}

h1 { 
    font-family:'Inter';  
    font-weight: '100';
    font-size: 35px;
    color: #ffffff;
}

.notranslate {
    translate: "no";
}

.navHeader {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 28px;
    margin-right: 10px;
    width: 670px;
}

.headerLink {
    display: flex;
    color: #ffffff;
    text-decoration: none;
    font-family:'Inter'; 
    font-weight:bolder;  
}

.headerMobileLink {
    color: #ffffff;
    text-decoration: none;
    font-family:'Inter'; 
    font-weight:bolder;
    padding: 8px 30px;
}

nav :hover{
    text-decoration: underline;
}

.modal {
    cursor: pointer;
}

.choice {
    display: none;
    flex-direction: column;
    justify-content: center;
    top: -50px;
    left: 100px;
    z-index: 5;
    align-items: center;
    background-color: #000000;
    color: #ffffff;
}


.hamburgerContainer {
    display: block;
    padding-top: 40px;
    width: 200px;
    min-height: 50px;
    height: auto;
    overflow: hidden;
}

.hamburgerContainer i {
    font-size: 35px;

}

.iconContainer {
    position: relative;
    top:10px;
    left: 140px;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    color: #ffffff;
    font-size: 30px;
    cursor: pointer;
}

 .mouse {
    border: 2px solid #ffffff;
    border-radius: 10px;
    margin-bottom: -4px;
}

.hamburgerLink {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    position: absolute;
    padding-top: 30px;
    padding-bottom: 20px;
    margin-left: 200px;
    font-size: 15px;
    z-index: 5;
    width: 400px;
    height: 250px;
    overflow: hidden;
    background-color: #000000;
    animation: hamburgerMenu 0.5s ease-out forwards;
}

@keyframes hamburgerMenu {
    0% {margin-left: 200px}
    100% {margin-left: 0%}
}

.element {
    color: red;
}

@media screen and (max-width:1024px) {
    .navHeader {
        width:600px;
        font-size: 14px;
    }

    h1 {
        font-size: 34px;
    }
}

@media screen and (max-width:800px)  {
    .navHeader {
        width:550px;
    }
}

@media screen and (max-width:700px)  {
    .navHeader {
        width:400px;
        font-size: 12px;
    }

    h1 {
        font-size: 34px;
    }
}

@media screen and (max-width:550px) {
    .navHeader {
        width:380px;
    }

    .hamburgerContainer i {
        font-size: 33px;
    }

    h1 {
        font-size: 31px;
    }
}

@media screen and (max-width:400px) and (min-width:320px) {
    .navHeader {
        width:380px;
    }

    .hamburgerContainer i {
        font-size: 30px;
    }

    h1 {
        font-size: 29px;
    }
}