.transportContainer {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    min-height: 633px;
}

.transportContainer .imageContainer {
    display: flex;
    position: relative;
    top:0;
    width: 65%;
    max-height: 100%;
}

.transportContainer .imageContainer img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.transportContainer .commentContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 32%;
    padding: 0 20px;
    line-height: 1rem;
    color: #000000;
}

.transportContainer .withDecoration {
    line-height: 4rem;
}

.transportContainer .commentContainer p {
    font-size: 18px;
    line-height: 1.5rem;
    margin-top: 0;  
}

@media screen and (max-width:1100px) {
    .transportContainer .imageContainer {
        width: 60%;
    }

    .transportContainer .commentContainer {
        width: 37%;
    }
}

@media screen and (max-width:960px) {
    .transportContainer .commentContainer p {
        font-size: 16px;
    }
}

@media screen and (max-width:850px) {
    .transportContainer .imageContainer {
        width: 55%;
    }

    .transportContainer .commentContainer {
        width: 42%;
    }

    .transportContainer .commentContainer p {
        font-size: 15px;
    }
}

@media screen and (max-width:820px) {
    .transportContainer {
        flex-direction: column;
        height: 120%;
    }

    .transportContainer .imageContainer {
        width: 100%;
        height: 100%;
        min-height: 460px;
    }

    .transportContainer .commentContainer {
        width: 95%;
        height: 100%;
        min-height: 380px;
    }

    .transportContainer .commentContainer p {
        font-size: 18px;
    }
}

@media screen and (max-width:500px) {
    .transportContainer .imageContainer {
        width: 100%;
        height: 100%;
        min-height: 250px;
    }

    .transportContainer .commentContainer {
        width: 90%;
        min-height: 400px;
    }

    .transportContainer .commentContainer p {
        font-size: 17px;
    }
}

@media screen and (max-width:360px) and (min-width:320px) {
    .transportContainer .commentContainer h2 {
        font-size: 19px;
    } 
    .transportContainer .commentContainer p {
        font-size: 15px;
    }
}