.transportContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    min-height: 633px;
    /* margin-bottom: 0; */
}

.transportContainer img {
    position: absolute;
    width: 100%;
    height: 100%;
    min-height:633px;
    object-fit: cover;
}

.transportContainer figcaption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    width: 100%;
    height: 100%;
    min-height: 633px;
    margin-top: 5px;
    font-size: 18px;
    color: #000000;
    background-image: linear-gradient(to bottom, RGBa(255,255,255,0) 0%, RGBa(255,255,255,0) 50%, RGBa(255,255,255,0.7) 70%, Rgba(255,255,255,0.4) 95%, Rgba(255,255,255,0) 100%);
}

.transportContainer figcaption p {
    width: 400px;
    margin-top: 1px;
    margin-right: 100px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    line-height: 2rem;
    text-align: left;
    /* background-color: yellow; */
}

@media screen and (max-width:1200px) {
    .transportContainer figcaption p {
        width: 400px;
        margin-right: 40px;
    }
}

@media screen and (max-width:1050px) {
    .transportContainer figcaption p {
        width: 380px;
        margin-right: 5px;
    }
}

@media screen and (max-width:920px) {
    .transportContainer figcaption {
        background-image: linear-gradient(to bottom, RGBa(255,255,255,0.8) 0%, Rgba(255,255,255,0.8) 100%);
    }
}

@media screen and (max-width:820px) {
    .transportContainer {
        min-height: 963px;
        background-color: aquamarine;
        
    }
}

@media screen and (max-width:450px) {
    /* .transportContainer {
        min-height: 500px;
    } */

    .transportContainer img {
        /* height: 500px; */
        max-width: 665px;
        min-width: 310px;
        width: 100%;
    }

    .transportContainer figcaption{
        background-image: linear-gradient(to bottom, RGBa(255,255,255,0.8) 0%, Rgba(255,255,255,0.8) 100%);
        /* height: 500px; */
    }

    .transportContainer figcaption p {
        width: 300px;
        /* margin-right:  auto; */
        margin: 8px auto;
        font-size: 15px;
        font-weight: 500px;
        padding: 0 5px;
}
}